nav {
    background-color: #BC8DA7;
}

.nav-inner {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 10px;
    color: white;
}

nav .login {
    margin-left: auto;
}

nav .logo {
    height: 50px;
    width: 50px;
}