.data-table {
    width: 100%;
}

.data-table td, .data-table th {
    padding: 10px;
}

.data-table thead {
    background-color: #BC8DA7;
    color: white;
}

.data-table td {
    border: 1px solid #BC8DA7;
}